/* Parent container to center content */

.Tags-Practice {
  width: 80%;
  margin: auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9); /* Light background */
  background-color: aqua;
  border-radius: 10px;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.2);
}

/* Style for h2 inside Tags-Practice */
.Tags-Practice h2 {
  border-style:groove;
  text-align: center;
  font-size: 28px;
  color: navy;
  background-color: darkorchid;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Style for h4 inside Tags-Practice */
.Tags-Practice h5 {
  border: 3px solid #0077b6;
  background-color: #f0f8ff;
  color: #333;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 10px;
  width: 60%;
  margin: 10px auto;
  border-radius: 5px;
}

/* Style for h3 inside Tags-Practice */
.Tags-Practice h3 {
  text-align: center;
  color: darkslategray;
  font-weight: bold;
  font-size: 20px;
  margin: 15px auto;
  width: 70%;
}

/* Style for h1 inside Tags-Practice */
.Tags-Practice h1::first-line {
  text-align: center;
  color: darkred;
  font-size: 200px;
  font-weight: bold;
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
  background-color: lightyellow;
}

.Tags-Practice span {

  display: block;
}

