* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    border: 2px solid #007bff;
    padding: 16px;
    max-width: 350px;
    background-color: white;
   
  }
  
  .card-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 12px;
  }
  
  .card-title {
    margin: 0 0 8px;
    font-size: 24px;
    color: #050303;
    margin-left: 30px;
    text-align: center;
  }
  
  .card-text {
    font-size: 16px;
    color: #110e0e;
    text-align: center;
  }
  



  /* Responsive Styles */

  @media  screen and (max-width: 768px)       {


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        

    }
    
    .card {
        max-width: 100%;
        margin-bottom: 20px;
        background-color: rgb(155, 124, 100);
        border: none;
       
    }
    
    .card-title {
        font-size: 20px;
        color: black;
    }
    
    .card-text {
        font-size: 14px;
        

    }
    




    
  }




  

