/* Parent container styling */

.card-container{
    width: 100%;
    margin: auto;
    padding: 100px;
    background-color:darkolivegreen;
    border-radius: 40px;
    box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.2);
}

.card-container p{
border: 3px solid red; 
border-radius: 20px; 
padding: 15px;
color: rgb(179, 59, 188); 
font-size: 24px; text-shadow: 2px 2px 4px gray; 
letter-spacing: 2px; 
word-spacing: 5px; 
line-height: 1.8;
outline: 1px solid black;
outline-offset: 12px;
}


.card-container img {
width: 200px; 
height: 200px; 
border-radius: 50%; 
box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.9);
margin: 20px;
}


.card-container a:hover{
    color:chartreuse;

}

.card-container li:nth-child(3n+1) {
    background-color: darkgoldenrod;
}


.card-container h4{
background-color: cadetblue;
color:cornsilk;
padding: 30px;
text-align: center;
}

h4:hover{
background-color: darkslateblue;
}

.content {
    width: 100%;
    margin: auto;
    padding: 100px;
    border-radius: 40px;
    box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.2);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #002B36;
    color: azure;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color:rgb(0, 128, 128);
    color: white;
  }










   








