/* Parent container styling */
.Tags-Practice {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: aqua;
  border-radius: 10px;
  box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.2);
}

.Tags-Practice h2 {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 28px;
  color: navy;
  background-color: darkorchid;
  font-family: Impact, sans-serif;
}

.Tags-Practice h2 span {
  color: pink;
}

.Tags-Practice h5 {
  border: 3px solid #0077b6;
  background-color: #f0f8ff;
  text-align: center;
  padding: 10px;
  width: 60%;
  margin: 10px auto;
  border-radius: 5px;
}

.Tags-Practice h1 {
  text-align: center;
  color: darkred;
  font-size: 24px;
  font-weight: bold;
  width: 80%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
  background-color: lightyellow;
}


/* css new one day 2 */

.prime-wrap {
  width: 100%;
  padding: 40px;
  background-color: #76a1a1;
  border-radius: 10px;
}

.prime-wrap p {
  max-width: 600px;
  height: auto;
  background-color: rgb(59, 20, 104);
  color: azure;
  font-size: 20px;
  text-align: center;
}

.prime-wrap .healthcare-sector {
  color: darkblue;
  font-size: 18px;
  text-align: justify;
  line-height: 1.6;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-left: 5px solid rgb(11, 155, 150);
}

.prime-wrap .box {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.container {
  border: 5px solid rgb(38, 38, 200);
  margin: 40px;
}

.prime-wrap table, th, td {
  border: 1px solid;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  background-color: aqua;
  
}



