/* ==========================================================================
   Base Styles & Reset
   ========================================================================== */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;
  }


/* ==========================================================================
     Navigation Bar Styles
     ========================================================================== */


.navbar{

    height: 70px;
    background-color: #14243e !important;
}  

.nav-link{

    color: azure;
    font-size: 16px;
    
}

.nav-link:hover{

    color: #7acbc6;
}

.button-cta {
    background-color: #7acbc6;
    border: 2px solid transparent;  
    padding: 12px 20px;
    color: #101f29;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 15px !important;
    border-radius: 80px !important;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;  
}

.button-cta:hover {
    border: 2px solid #7acbc6;
    background-color: #14243e;
    color: #7acbc6;
}

/* Hamburger icon larger and more visible */
.navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
}
.navbar-toggler-icon {
    width: 2rem;
    height: 2rem;
    background-size: 80% 80%;
}
@media (max-width: 991.98px) {
    .navbar-nav {
        gap: 0 !important;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-collapse {
        background: #14243e;
        padding: 1rem;
        border-radius: 0.5rem;
        box-shadow: 0 2px 8px rgba(0,0,0,0.05);
        
    }
    .navbar-nav .nav-link {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        
    }
    .navbar-brand img {
        width: 60px;
        height: 60px;
    }
}


/* ==========================================================================
     Hero Section Styles
     ========================================================================== */

.hero-text{

    color: #14243e;
    font-weight: 700;

}

.text-spaner{

    color: #9dccc9;
    font-weight: 700;
}

.lead-hero {

    font-size: 20px;
    font-weight: 550;
    
}

.hero-button{

    background-color: #14243e;
    color: aliceblue;
    border: none;
    font-size: 14px;
}

.hero-button:hover{

    color: #14243e !important;
    background-color: #4ea6a0;
    
}

.text-prime{

    color: rgb(172, 89, 31);
    font-weight: 600;
}

.card{

    background-color: #4db9d6;
    color: aliceblue;
    font-weight: 700;

}

.card:hover{

    background-color: #113f5e;
    
}

.logo-hero{

    color: #3c759b;
}

.text-care{

    color: #14243e;
    font-weight: 700;
}

