* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/health.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100pvh;
    width: 100vw;

    
}

/* Header Styles */

.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background: #907ee2;
    color: rgb(224, 135, 135);


}

/* .logo {
    font-size: 24px;
    font-weight: bold;
} */

.logo img{

    width: 130px;
    height: 100px;
    object-fit: contain;
    transition: width 0.3s ease;
}

/* Menu nav Styles */

.nav {
    display: flex;
    gap: 40px;
    
}
.nav a, .dropdown {
    color: rgb(10, 62, 77);
    text-decoration: none;
    font-size: 18px;

    position: relative;
    cursor: pointer;

}
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(58, 91, 151);

    color: rgb(255, 255, 255);
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    top: 100%;
    left: 0;
    z-index: 10;
}
.dropdown-content a {
    display: block;
    padding: 10px;
    color: rgb(253, 252, 252);
    text-decoration: none;
}
/* 
.dropdown-content a:hover {
    background: #ddd;
} */

.dropdown:hover .dropdown-content{
    display: block;
}


/* Button CSS */

/* .header .button {
    white-space: nowrap;
    padding: 8px 15px;
    background: rgb(58, 91, 151);
    color: #ffffff;
    border: none;
    cursor: pointer; 
    font-size: 15px;   
    font-weight: bold;
    border-radius: 8px;
    height: 40px;
    width: 150px;

}

.header .button:hover {
    background: #b90f89;
} */



.d-flex{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.form-control{

    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 9px;
    outline: none;
    font-size: 15px;
    background: #8fc3e4;
}

.btn-outline{
    width: 60%;
    border: none;
    padding: 10px 15px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 15px;
    background: #0b4b73;
    color: aliceblue;
}

.btn-outline:hover{
    background: #dd5eb9;
}







/* contents starts from here */

.container {
    display: flex;
    padding: 50px;   
    /* margin-bottom: 40px; */
    justify-content: space-around;

}

/* .content */

.content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
    
}

.content span {
    color: #8465bd;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}


.container h5{

    color: #184a96;
}


/* button CSS */

.buttons {
    margin-top: 20px;
   
}

.btn-1 {
    background: #4d8ed8;
    color: rgb(255, 255, 255);
    padding: 20px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 300;

}

.btn-1:hover {
    background: #b90f89;
}

.btn-2 {
    background: #5a94d6;
    color: rgb(255, 255, 255);
    padding: 20px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;

}

.btn-2:hover {
    background: #b90f89;
}


.btn-3 {
    background: #4d8ed8;
    color: rgb(255, 255, 255);
    padding: 20px 16px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 300;

}


.btn-3:hover {
    background: #b90f89;
}

/* Image Div */

.dashboard {
    border-radius: 10px;
    display: flex;
    width:auto;
    height: auto; 
    /* background: rgb(4, 54, 81); */
    padding: 20px;
    overflow: hidden;
}



.dashboard img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}



/*  Card CSS */

.card-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}


.card {
    width: 280px;
    height: 150px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    position: relative;
    color: rgb(0, 80, 150);
    background: rgb(29, 159, 176);

}

.card i {
    font-size: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #b90f89; */
    height: 40px;
    color: rgb(12, 67, 82);
    
}

.card h2 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    line-height: 1.5;
    margin-bottom: 5px;
}

.card p {
    font-size: 16px;
    color: rgb(9, 47, 58);
    font-size: medium;
    font-weight: 600;
}
 


.card:hover {
    background: #907ee2;


}


.card-container .quote{

    font-size: 30px;
    color: rgb(5, 42, 52);
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;

}

.card-container .span-content{
    

    font-size: 18px;
    color: rgb(20, 93, 113);
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}



.providers-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: center; */
    gap: 50px;
    padding: 60px 80px;
    background: #e7f8f9;
  }
  
  .provider-map img {
    width: 100%;    
    height: auto;
    display: block;
  }
  
  .provider-text {
    flex: 1;    
  }
  
  .provider-text h5 {
    font-size: 0.9rem;
    color: #907ee2;;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .provider-text h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #111;
    margin-bottom: 20px;
  }
  
  .provider-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 25px;
  }
  
  .btn-meet {
    padding: 12px 24px;
    background-color: #002f6c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .btn-meet:hover {
    background-color: #00489c;
  }
  